/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    --primary-bg-color: #558257;
    --primary-color: #fff;
    --secondary-color: #4CAF50;
    --hover-color: #45a049;
    --text-color: #333;
    --subtext-color: #666;
    --background-color: #f0f0f0;
    --container-bg-color: #fff;
    --container-shadow-color: rgba(0, 0, 0, 0.1);
    --border-color: #ddd;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column; /* Ensure elements are in a column layout */
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

header {
    background-color: #558257;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    
}
.logo {
    font-size: 2em;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    color: var(--primary-color);
    font-weight: 500;
    margin-left: 20px;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
}

.navigation .btnLogin-popup {
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;
    margin-left: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.navigation .btnLogin-popup:hover {
    background-color: var(--primary-color);
    color: var(--primary-bg-color);
}

.navigation a::after {
    background: var(--primary-color);
    border-radius: 5px;
    bottom: -6px;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.5s;
    width: 100%;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

/* Intro Styles */
.intro {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--container-bg-color);
    box-shadow: 0 0 10px var(--container-shadow-color);
    margin: 1em auto 2em;
    width: 100%;
    max-width: 80%;
}

.intro h1 {
    margin-bottom: 10px;
    color: var(--primary-bg-color);
}

.intro p {
    color: var(--subtext-color);
    line-height: 1.6;
}

/* Container Styles */
.container {
    background-color: var(--container-bg-color);
    box-shadow: 0 0 10px var(--container-shadow-color);
    margin: 2% auto 6%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Recipe Card Styles */
.recipe {
    background-color: var(--container-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.recipe h2 {
    color: var(--text-color);
    margin-bottom: 10px;
}

.recipe p {
    color: var(--subtext-color);
    margin-bottom: 10px;
}

.recipe p strong {
    color: var(--text-color);
}

.recipe:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Error Message Styles */
#recipeList p {
    color: var(--text-color);
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 10% auto 8%;
        padding: 15px;
    }

    .recipe {
        flex: 1 1 100%;
    }

    .intro {
        width: 90%;
        padding: 20px;
    }
}

/* Footer styles */
footer {
    background-color: #558257;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #387D5B; /* Dark green border on top */
    font-size: 1em; /* Set consistent font size */
}

footer p {
    margin: 0;
    font-size: 1em; /* Set consistent font size */
    font-weight: 400; /* Normal text weight */
}