/* Reset CSS 1 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column; /* Ensure elements are in a column layout */
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

header {
    background-color: #558257;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    
}

.logo {
    font-size: 2em;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    position: relative; /* Ensure the pseudo-element is positioned relative to the link */

}

.navigation .btnLogin-popup {
    padding: 10px 20px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}

.navigation .btnLogin-popup:hover {
    background-color: #fff;
    color: #558257;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.logo-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent element */
}

.logo-link:visited,
.logo-link:hover,
.logo-link:active {
    color: inherit; /* Ensure link states inherit color */
    text-decoration: none; /* Ensure link states have no underline */
}

/* Main container styles */
main {
    flex: 1; /* Take up the remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* Add padding for space between header and footer */
}

/* Contact Form Styles */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-form {
    background-color: #d2d2d2;

    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 80%;
    max-width: 40%;
    margin: 0 auto;
}
.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    font-size: 16px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 16px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button[type="submit"] {
    background-color: #ffffff;
    color: #000000;
    padding: 12px 24px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.contact-form button[type="submit"]:hover {
    background-color: #4d6e4b;
}

/* Footer styles */
footer {
    background-color: #558257;
    color: #000000;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    font-size: 0.8em;
    margin-top: auto; /* Push footer to the bottom */
}

/* Additional Styles */
.left-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.image-gallery {
    padding: 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    max-width: 100%;
    overflow-y: hidden;
    margin-bottom: 20px;
}

.gallery-container img {
    max-width: 200px;
    max-height: 200px;
}
