/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column; /* Ensure elements are in a column layout */
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

header {
    background-color: #558257;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    
}
.logo {
    font-size: 2em;
}

.navigation a {
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
    position: relative;
    text-decoration: none;
}

.navigation .btnLogin-popup {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
    padding: 10px 20px;
}

.navigation .btnLogin-popup:hover {
    background-color: #fff;
    color: #558257;
}

.navigation a::after {
    background: #fff;
    border-radius: 5px;
    bottom: -6px;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: transform .5s;
    width: 100%;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.logo-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent element */
}

.logo-link:visited,
.logo-link:hover,
.logo-link:active {
    color: inherit; /* Ensure link states inherit color */
    text-decoration: none; /* Ensure link states have no underline */
}
/* Intro Styles */
.intro {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--container-bg-color);
    box-shadow: 0 0 10px var(--container-shadow-color);
    margin: 1em auto 2em;
    width: 100%;
    max-width: 80%;


}

.intro h1 {
    margin-bottom: 10px;
    color: #558257;
}

.intro p {
    color: var(--subtext-color);
    line-height: 1.6;
}
/* Container Styles */
.container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2% auto 6%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}


/* Exercise Styles */
.exercise {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px); /* 3 cards per row with 20px gap */
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.exercise:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.exercise h2 {
    color: #333;
    margin: 0 0 10px;
}

.exercise p {
    color: #666;
    margin: 5px 0;
}

.exercise a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.exercise a:hover {
    color: #45a049;
}

/* Error Message Styles */
#exerciseList p {
    color: rgb(0, 0, 0);
    text-align: left;
}
/* Footer styles */
footer {
    background-color: #558257;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #387D5B; /* Dark green border on top */
    font-size: 1em; /* Set consistent font size */
}

footer p {
    margin: 0;
    font-size: 1em; /* Set consistent font size */
    font-weight: 400; /* Normal text weight */
}