@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #558257;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    
}

.logo {
    font-size: 2em;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    position: relative; /* Ensure the pseudo-element is positioned relative to the link */

}

.navigation .btnLogin-popup {
    padding: 10px 20px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}

.navigation .btnLogin-popup:hover {
    background-color: #fff;
    color: #558257;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}
/* Style the navigation */
.navigation {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown button */
.dropbtn {
    background-color: #558257; /* Green background */
    color: white; /* White text */
    padding: 10px; /* Some padding */
    font-size: 16px; /* Font size */
    border: none; /* Remove borders */
    cursor: pointer; /* Pointer/hand icon */
}

/* The container <div> - needed to position the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #558257;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.exercise-categories, .exercise-details {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #6a994e, #a7c957);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.exercise-categories:hover, .exercise-details:hover {
    transform: translateY(-10px);
}

.exercise-categories h2, .exercise-details h2 {
    text-align: center;
    margin-bottom: 20px;
}

.exercise-categories span, .exercise-details span, .exercise-card span {
    color: #6a994e;
    pointer-events: none;
    text-decoration: none;
    display: block;
    text-align: center;
}

.categories-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category-item {
    background-color: #fff;
    color: #558257;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(33.333% - 20px);
}

.category-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.category-item span {
    display: block;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.category-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.exercise-category-container {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.exercise-category-container:hover {
    transform: translateY(-10px);
}

.exercise-category {
    margin-bottom: 20px;
    text-align: center;
    color: #384b2c;
}

.exercise-category h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

.exercise-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.exercise-card {
    background-color: #f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(33.333% - 20px);
    text-decoration: none;
    color: #333;
}

.exercise-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.exercise-info {
    padding: 15px;
    text-align: center;
    color: #6a994e;
}

.exercise-info h4 {
    margin-bottom: 5px;
    text-decoration: underline;
}

.exercise-info p {
    font-size: 0.9em;
}

.exercise-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #558257;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
    font-size: 0.8em;
}

.intro {
    margin-top: 2%;
    text-align: center;
}

.intro h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #558257;
}

.intro p {
    font-size: 1.2em;
}

.category-item a, .exercise-card a {
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #b9cbba;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    margin-bottom: 2%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="url"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

button[type="submit"] {
    background-color: #558257;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Ensure it occupies full width */
}

button[type="submit"]:hover {
    background-color: #43633a;
}

#responseMessage {
    margin-top: 20px;
    color: #333;
    font-size: 1.1em;
}
