/* Reset CSS 1 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column; /* Ensure elements are in a column layout */
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

header {
    background-color: #558257;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    
}

.logo {
    font-size: 2em;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    position: relative; /* Ensure the pseudo-element is positioned relative to the link */

}

.navigation .btnLogin-popup {
    padding: 10px 20px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}

.navigation .btnLogin-popup:hover {
    background-color: #fff;
    color: #558257;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.logo-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent element */
}

.logo-link:visited,
.logo-link:hover,
.logo-link:active {
    color: inherit; /* Ensure link states inherit color */
    text-decoration: none; /* Ensure link states have no underline */
}

/* Main Content Styles */
main {
    padding: 3%;
}

.intro {
    text-align: center;
    margin-bottom: 1%;
}

.intro h1 {
    margin-bottom: 1%;
    font-size: 2.5em;
    color: #558257;
}

.intro p {
    font-size: 1.2em;
}

.categories-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
}

.category-item {
    background-color: #fff;
    color: #558257;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100px;
}

.category-item img {
    width: 80px;
    height: auto;
    object-fit: cover;
}

.category-item h3 {
    margin: 10px 0;
    font-size: 1em;
}

.category-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 50%; /* Adjust the maximum width of the container */
    margin: 5% auto; /* Center the container vertically */
    padding: 2em; /* Increase padding for better spacing */
    background-color: #aec2af; /* Adjust the background color */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.goal-form {
    margin-top: 3%; /* Increase top margin for better spacing */
    margin-bottom: 1%;
    text-align: center;
}

.goal-form label {
    font-size: 1.2em; /* Adjust font size as needed */
    color: #333; /* Adjust color as needed */
}

.exercise-container {
        max-width: 50%; /* Adjust the maximum width of the container */
        margin: 5% auto; /* Center the container vertically */
        padding: 2em; /* Increase padding for better spacing */
        background-color: #aec2af; /* Adjust the background color */
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h2 {
    margin-top: 2em; /* Adjust top margin for spacing */
    font-size: 2em; /* Adjust font size */
    margin-bottom: 1em; /* Adjust bottom margin for spacing */
    color: #ffffff; /* Adjust color */
    text-align: center; /* Center align the text */
}

/* Footer Styles */
footer {
    background-color: #558257;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #387D5B; /* Dark green border on top */
    font-size: 1em; /* Set consistent font size */
}

footer p {
    margin: 0;
    font-size: 1em; /* Set consistent font size */
    font-weight: 400; /* Normal text weight */
}
