/* Reset CSS 7 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #558257;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

.logo {
    font-size: 2em;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.navigation .btnLogin-popup {
    padding: 10px 20px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}

.navigation .btnLogin-popup:hover {
    background-color: #fff;
    color: #558257;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}



main {
    padding-top: 50px; /* Adjust as needed to create space for the header */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Text color */
    padding-bottom: 70px; /* Adjust main's padding bottom to accommodate footer */

}

footer {
    background-color: #558257;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both; /* Clear the float */
}


.container {
    width: 90%; /* Set width to 90% of the viewport width */
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #558257;
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
select,
input[type="text"] { /* Adjust the size of input[type="text"] */
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #ffffff; /* Green background color */
    color: #000000; /* Black text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4d6e4b;
}

/* Submit button in the main section */
main button[type="submit"] {
    background-color: #ffffff; /* Green background color */
    color: #000000; /* White text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Make the button a block element */
    margin: 0 auto; /* Center the button horizontally */
}

main button[type="submit"]:hover {
    background-color: #4d6e4b;
}


/* Style for the assessment title */
.assessment-title {
    margin-bottom: 30px; /* Add margin below the title */
}
