/* Reset CSS 1 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column; /* Ensure elements are in a column layout */
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

header {
    background-color: #558257;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    
}

.logo {
    font-size: 2em;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    position: relative; /* Ensure the pseudo-element is positioned relative to the link */

}

.navigation .btnLogin-popup {
    padding: 10px 20px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}

.navigation .btnLogin-popup:hover {
    background-color: #fff;
    color: #558257;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}
.logo-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent element */
}

.logo-link:visited,
.logo-link:hover,
.logo-link:active {
    color: inherit; /* Ensure link states inherit color */
    text-decoration: none; /* Ensure link states have no underline */
}

main {
    padding: 20px;
    margin-top: 80px; /* Ensure content is not hidden under fixed header */
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

.intro h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #558257;
}

.intro p {
    font-size: 1.2em;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 10px;
    color: #558257;
}

section p {
    margin-bottom: 10px;
}

section ul {
    list-style-type: disc;
    padding-left: 20px;
}

section ul li {
    margin-bottom: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #558257;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover {
    background-color: #6d8b6a;
}

footer {
    background-color: #558257;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both; /* Clear the float */
    font-size: 1em; /* Set font size to 1em */
}
